<div class="calendarView">
  <div>
    <div class="row flex-row justify-content-end">
      <div class="mb-2 mr-2">

        <a nz-button class="mr-2" [hidden]="userRole !== 'Parent'" nzType="primary" (click)="SaveEventModal()">Add
          Event</a>

        <a nz-button class="mr-2" [hidden]="userRole !== 'Parent'" nzType="primary"
          (click)="ScheduleCustodyModal()">Schedule Custody</a>


        <a nz-button class="mr-2" [hidden]="userRole !== 'Parent'" nzType="primary"
          (click)="requestVisible = true">Change Request</a>

        <a nz-button class="mr-2" [hidden]="userRole !== 'Parent'" nzType="primary" (click)="checkVisible = true">Check
          In/Out</a>
      </div>
    </div>

    <div class="row">
      <div class="card bg-white d-flex flex-row">
        <div class="p-5 col-xl-4 ">
          <h5>
            {{ selectedDate.toLocaleString('default', { month: 'long' }) }} {{selectedDate.getFullYear()}}
          </h5>
          <div [ngStyle]="{ border: '1px solid #e3e3e3', borderRadius: '1px', marginTop: '33px'}">
            <nz-calendar #calendar id="smart-calendar" [nzFullscreen]="false"
              (nzPanelChange)="LoadDataOnPanelChange($event)" (nzSelectChange)="changeDate($event)"
              [(ngModel)]="selectedDate">
            </nz-calendar>
          </div>

          <div class="m-3">
            <div class="row">
              <h5>
                *Colors Definitions:
              </h5>
            </div>

            <div class="row">
              <h6 style="background-color: #ffbb33; border-radius: 4px; color: white;" class="py-2 px-2 mr-2 mt-1"></h6>
              Change Request
            </div>
            <div class="row">
              <h6 style="background-color: #4b7cf3; border-radius: 4px; color: white;" class="py-2 px-2 mr-2 mt-1"></h6>
              Events
            </div>
            <div class="row">
              <h6 style="background-color: #00C851; border-radius: 4px; color: white;" class="py-2 px-2 mr-2 mt-1"></h6>
              Accepted Change Request
            </div>
            <div class="row">
              <h6 style="background-color: #ff7979; border-radius: 4px; color: white;" class="py-2 px-2 mr-2 mt-1"></h6>
              Check In / Check Out
            </div>
          </div>
          <!-- <nz-date-picker nzBorderless nzOpen style="visibility: hidden;" [(ngModel)]="selectedDate"></nz-date-picker> -->
        </div>
        <div class="col-xl-8 pr-5 mt-3">
          <nz-calendar [(ngModel)]="selectedDate" [nzDateCell]="dateCellRender" [nzMonthCell]="monthCellRender"
            (nzPanelChange)="LoadDataOnPanelChange($event)" (nzSelectChange)="changeDate($event)"></nz-calendar>
          <ng-template #dateCellRender let-date>
            <div class="customDateBlock"
              [ngClass]="{eventSelected: ((dateList.includes(date.getTime())) && (date.getMonth() == selectedDate.getMonth()) )}">
              <ng-container *ngIf="date.getMonth() == selectedDate.getMonth()">
                {{ date.getDate() }}
              </ng-container>
            </div>
            <div>
              <ul class="events" *ngIf="date.getMonth() == selectedDate.getMonth()">
                <ng-container *ngFor="let item of calendarFormattedData; trackBy:trackByCalendarItemId">
                  <!-- Events -->
                  <ng-container *ngIf="item.DataType == 0">
                    <li nz-popover [style.background]="item.Color"
                      *ngIf="IsRenderDataOnCell(date,item.StartDate,item.EndDate)" nzPopoverContent="{{item.Note}}"
                      (click)="showEventDetails(item.ParentObject, date)">
                      <nz-badge [nzStatus]="'warning'" [nzText]="item.Title"></nz-badge>
                    </li>
                  </ng-container>


                  <!-- Custody -->
                  <ng-container *ngIf="item.DataType == 1">
                    <li nz-popover [style.background]="item.Color"
                      *ngIf="IsRenderDataOnCell(date,item.StartDate,item.EndDate)" nzPopoverContent="{{item.Note}}"
                      (click)="showCustodyDetails(item, date)">
                      <nz-badge [nzStatus]="'warning'" [nzText]="item.Title"></nz-badge>
                    </li>
                  </ng-container>

                  <!-- Change Request -->
                  <ng-container *ngIf="item.DataType == 2">
                    <li nz-popover [style.background]="item.Color" style="text-align: center;"
                      *ngIf="IsRenderDataOnCell(date,item.StartDate,item.EndDate)" nzPopoverContent="{{item.Note}}"
                      (click)="viewSingleChangeRequest(item.ParentObject)">
                      <nz-badge [nzStatus]="'warning'" [nzText]="item.Title"></nz-badge>
                    </li>
                  </ng-container>

                  <!-- Check In/Out -->
                  <ng-container *ngIf="item.DataType == 3">
                    <li nz-popover [style.background]="item.Color" style="text-align: center;"
                      *ngIf="IsRenderDataOnCell(date,item.StartDate,item.EndDate)" nzPopoverContent="{{item.Note}}"
                      (click)="viewSingleCheck(item.ParentObject)">
                      <nz-badge [nzStatus]="'warning'" [nzText]="item.Title"></nz-badge>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </ng-template>
          <ng-template #monthCellRender let-month>
            <div>
              {{ month.toLocaleString('default', { month: 'long' }) }}
            </div>
            <div>
              <ul class="events">
                <ng-container *ngFor="let item of filterCalendarDataMonthWise(month)">
                  <li [style.background]="item.Color" nz-popover nzPopoverContent="{{item.Note}}"
                    (click)="item.IsCustody ? showCustodyDetails(item, date) : showEventDetails(item.ParentObject, date)">
                    <nz-badge [nzStatus]="'warning'" [nzText]="item.Title"></nz-badge>
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-template>
        </div>

        <!-- <ng-container *ngTemplateOutlet="noData" class="m-5"></ng-container> -->
      </div>
    </div>

  </div>


  <!-- Custody Modal -->
  <div>
    <nz-modal [nzFooter]="null" [nzWidth]="'1000px'" [(nzVisible)]="custodyModalIsVisible" [nzTitle]="custodyModalTitle"
      nzMaskClosable="false" (nzOnCancel)="handleCustodyFormCancel()">
      <ng-container *nzModalContent>
        <app-schedule-custody [custodySub]="editCustodyObserverSubject" [modalCloseSub]="closeModalObserverSubject">
        </app-schedule-custody>
      </ng-container>
    </nz-modal>
  </div>
  <div>
    <nz-modal [nzFooter]="null" [nzTitle]="'Custody Details'" [(nzVisible)]="viewCustody"
      (nzOnCancel)="closeViewCustodyModal()" nzMaskClosable="false">
      <app-view-custody [custodySub]="viewCustodyObserverSubject" (edit)="editCustody()" (delete)="deleteCustody()">
      </app-view-custody>
    </nz-modal>
  </div>

  <!-- Add Modal -->
  <div>
    <nz-modal [nzFooter]="null" [nzWidth]="'647px'" [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
      (nzOnCancel)="handleCancel()" nzMaskClosable="false">
      <ng-container *nzModalContent>
        <app-add-event [eventSub]="editEventObserverSubject" [modalCloseSub]="closeModalObserverSubject">
        </app-add-event>
      </ng-container>
      (nzOnCancel)="handleCancel()" nzMaskClosable="false">
    </nz-modal>
  </div>
  <div>
    <nz-modal [nzFooter]="null" [nzTitle]="'Event Details'" [(nzVisible)]="viewEvent"
      (nzOnCancel)="closeViewEventModal()" nzMaskClosable="false">
      <app-view-event [eventSub]="viewEventObserverSubject" (edit)="editEvent()" (delete)="deleteEvent()">
      </app-view-event>
    </nz-modal>
  </div>
</div>
<!-- calendarView -->


<!-- Request List -->
<nz-modal [nzFooter]="null" nzWidth="1000px" nzTitle="Change Request" [nzVisible]="requestVisible"
  (nzOnCancel)="closeRequestView()" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <app-change-request [Data]="requestData" (close)="closeRequestView()"></app-change-request>
  </ng-container>
</nz-modal>

<!-- Single Request -->
<nz-modal [nzFooter]="null" nzWidth="600px" nzTitle="Change Request Detail" [nzVisible]="singleRequestVisible"
  (nzOnCancel)="singleRequestVisible = false" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <app-view-change-request [Data]="requestData" (onBack)="backToRequestList($event)"></app-view-change-request>
  </ng-container>
</nz-modal>


<!-- Check In Out -->
<nz-modal [nzFooter]="null" nzWidth="1000px" nzTitle="Check In/Out" [nzVisible]="checkVisible"
  (nzOnCancel)="closeCheckView()" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <app-check-in-out [data]="checkData" (close)="closeCheckView()"></app-check-in-out>
  </ng-container>
</nz-modal>

<!-- Single Check In Out -->
<nz-modal [nzFooter]="null" nzWidth="600px" nzTitle="Check In/Out Detail" [nzVisible]="singleCheckVisible"
  (nzOnCancel)="singleCheckVisible = false" nzMaskClosable="false">
  <ng-container *nzModalContent>
    <app-view-check-in-out [Data]="checkData" (onBack)="backToCheckList($event)"></app-view-check-in-out>
  </ng-container>
</nz-modal>