<div class="row">
    <div class="col-xl-12">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" role="form" (ngSubmit)="handleSubmit(formDirective)" #formDirective="ngForm">
            <nz-form-item>
                <nz-form-control>
                    <textarea nz-input formControlName='Note' placeholder="Notes ..."></textarea>
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && Note.hasError('required')">Note is Required!</ng-container>
                      </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary"  [nzSize]="'large'"
                            class="text-center w-100">
                        <strong> Save</strong>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>