
<div class="row">
    <div class="col-xl-12">
    <form nz-form [nzLayout]="'vertical'"  role="form">
      <input type="hidden" formControlName='Id' />    
    <nz-form-item>
        <nz-form-control>
            <textarea nz-input formControlName='Notes' placeholder="Notes ..."></textarea>
        </nz-form-control>
        </nz-form-item>
    <nz-form-item>
    <nz-form-control>
    <button nz-button nzType="primary" [nzSize]="'large'"   class="text-center w-100">
    <strong> Save</strong>
    </button>
    </nz-form-control>
    </nz-form-item>
    </form>
    </div>
    </div>