<div class="row">
  <div class="col-xl-12">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="handleSubmit()" role="form">
      <nz-form-item class="mt-2">
        <nz-form-control nzErrorTip="{{'nameError' | translate}}">
          <input type="text" nz-input formControlName="Name" placeholder="Nam{{'name' | translate}}e" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input type="text" nz-input formControlName="Surname" placeholder="{{'surname' | translate}}" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input type="text" nz-input formControlName="Status"
            placeholder="{{'status' | translate}} e.g. Doctor, Teacher..." />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="EmailTpl">
          <input type="email" nz-input formControlName="Email" placeholder="{{'email' | translate}}" />
          <ng-template #EmailTpl>
            <ng-container *ngIf="Email.hasError('required')">{{'emailError' | translate}}</ng-container>
            <ng-container *ngIf="Email.hasError('pattern') && !Email.hasError('required')">{{'emailError' | translate}}
              e.g abc@xyz.com</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <input type="email" nz-input formControlName="PhoneNo" placeholder="{{'phoneNo' | translate}}" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <textarea type="text" nz-input formControlName="Address" placeholder="{{'address' | translate}}"></textarea>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" class="text-center w-100">
            <strong>{{'save' | translate}}</strong>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>