<div>
  <div class="card">
    <div class="card-body">

      <div class="col-xl-12 " style="margin: 10px 0px;padding: 0px ;">
        <button [hidden]="userRole !=='Parent' && userRole !=='Child'" nz-button nzType="primary"
          (click)="AddFolder()">Create a new folder</button>
      </div>
      <hr [hidden]="userRole !=='Parent' && userRole !=='Child'">
      <div class="col-md-12 col-md-content">
        <div class="row" *ngIf="listData.length !== 0; else noData">

          <div class=" col-sm-2 " *ngFor="let folder of listData">
            <div class="thumbnail mt-5">
              <br>
              <a class="folder-link pointer" (click)="NavigateToDocuments(folder.FolderId)">
                <div class="overlay">
                  <img src="https://www.svgrepo.com/show/117522/folder.svg" alt="Folder">
                </div>
              </a>
              <div class="caption">
                <h5 class="mt-2 ml-1 text-center"><a>{{folder.Name}}</a></h5>
                <h6 class="text-center text-gray-5">
                  <div class="row ml-1">
                    {{folder.DocumentCount}} documents
                  </div>

                </h6>
                <br>
                <p class="text-center">
                  <a class="btn btn-sm btn-default" [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
                    (click)="$event.stopPropagation(EditFolder(folder))" nz-tooltip nzTooltipTitle="Edit folder"
                    data-original-title="" title=""><i class="fa fa-edit"></i> </a>
                  <a class="btn btn-sm btn-primary ml-4" [hidden]="userRole !=='Parent' && userRole !=='Child'"
                    (click)="$event.stopPropagation(DeleteFolder(folder.FolderId))" nz-tooltip
                    nzTooltipTitle="Delete folder" data-original-title="" title=""><i class="fa fa-trash"></i> </a>
                </p>
              </div>
            </div>
          </div>


        </div>

        <ng-template #noData class="align-center">
          <nz-empty></nz-empty>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div>


  <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" [nzTitle]="FoldermodalTitle" (nzOnCancel)="ModalCancel()"
    nzMaskClosable="false">
    <ng-container *nzModalContent>
      <app-add-folder [folderDataSub]="folderObserverSubject" (folderCreated)='AddFolderSuccess($event)'
        (expenseSavedEvent)='SavedCallBack()'></app-add-folder>
    </ng-container>
  </nz-modal>
</div>
