<div>

  <div class="card">
    <div class="card-body">
      <h5 class="mb-4">
        <strong>{{'expenses' | translate}}</strong>
      </h5>

      <div class="col-xl-12 " style="margin: 10px 0px;padding: 0px ;" [hidden]="userRole !== 'Parent'">
        <button nz-button nzType="primary" (click)="AddExpense()">{{'addExpense' | translate}}</button>

      </div>

      <nz-table #basicTable [nzData]="expensesData" class="kit__utils__table mb-4">
        <thead>
          <tr>
            <th>#</th>
            <th>{{'title' | translate}}</th>
            <th>{{'expenseType' | translate}}</th>
            <th>{{'cost' | translate}}</th>
            <th>{{'status' | translate}}</th>
            <th>{{'addedBy' | translate}}</th>
            <th [hidden]="userRole !== 'Parent'">{{'action' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of basicTable.data; let i=index">
            <tr>
              <td>{{ i+1 }}</td>
              <td>{{data.Title}}</td>
              <td>{{ data.ExpenseType }}</td>
              <td>${{ data.Cost }}</td>
              <td [innerHTML]='data.FormattedStatus'></td>
              <td>{{ data.ExpenseOwnerName }}</td>
              <td [hidden]="userRole !== 'Parent'">
                <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Expense"
                  (click)="$event.stopPropagation(EditExpense(data))" nzTheme="fill" class="text-success"></i>
                <nz-divider nzType="vertical"></nz-divider>
                <i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="View Expense"
                  (click)="$event.stopPropagation(ViewExpense(data))" nzTheme="fill" class="text-info"></i>
                <nz-divider nzType="vertical"></nz-divider>
                <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete Expense"
                  (click)="$event.stopPropagation(DeleteExpense(data.Id))" nzTheme="fill" class="text-danger"></i>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <b>{{ data.ExpenseOwnerName }}</b> {{'addedAnExpense' | translate}}: <b>{{data.Title}}</b>
                {{'withCostOf' | translate}} <b>${{ data.Cost
                  }}</b>,
                {{'coParentShouldPay' | translate}} $<b>{{(data.Cost) / 2 | number : '1.2-2'}}</b>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>


    </div>
  </div>
</div>

<div>
  <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleExpenseModalCancel()"
    nzMaskClosable="false">
    <ng-container *nzModalContent>
      <app-add-expense (expenseSavedEvent)='expenseSavedCallBack()' [expenseData]='expenseData'></app-add-expense>
    </ng-container>
  </nz-modal>
</div>


<div>
  <nz-modal [nzFooter]="null" [(nzVisible)]="ExpenseViewModelVisible" [nzTitle]="'Expense Details'"
    (nzOnCancel)="handleExpenseViewModalCancel()" nzMaskClosable="false">
    <ng-container *nzModalContent>
      <app-view-expense [ExpenseData]='expenseData'></app-view-expense>
    </ng-container>
  </nz-modal>
</div>