.client-appointment-view-div {
    i.fe {
      font-size: 16px;
      color: #2b3b4d;
    }
    .appointment-title {
      .appointment-title-span {
        height: 14px;
        width: 16px;
        display: inline-block;
        border-radius: 2px;
      }
    }
  }

  ::ng-deep .ant-modal-body{
    padding: 10px 24px !important;
  }