<div class="client-appointment-view-div">
    <div class="appointment-title">
        <h5>
            <span class="appointment-title-span mr-2" [style.background]="event.EventBgColor"> </span>
            {{event.EventSubject}} <small *ngIf="event.IsPrivate">({{event.IsPrivate ? "Private" : ""}}) </small>
        </h5>
    </div>

    <div class="appointment-date mb-3">
        <div class="f-12">
            <span class="appointment-date-span w-auto mr-2 invisible"> <i class="fe fe-tag"></i></span>
            {{event.EventStartDate | date: startDateFormat}} <span>-</span> {{event.EventEndDate | date: endDateFormat}}

        </div>
        <div *ngIf="event.IsAllDay">
            <label nz-checkbox nzDisabled [ngModel]="true">{{'allDay' | translate}}</label>
        </div>
    </div>

    <div *ngIf="event.EventPlace" class="appointment-description mb-3">
        <div class="f-12">
            <span class="appointment-description-span mr-2">
                <i class="fe fe-map-pin"></i>
                {{event.EventPlace}}
            </span>
        </div>
    </div>

    <div *ngIf="event.ChildrenNames" class="appointment-description mb-3">
        <div class="f-12">
            <span class="appointment-description-span mr-2">
                <i class="fe fe-users"></i>
                {{event.ChildrenNames}}
            </span>
        </div>
    </div>

    <div *ngIf="event.EventNotes" class="appointment-description mb-3">
        <div class="f-12">
            <span class="appointment-description-span mr-2">
                <i class="fe fe-list"></i>
                {{event.EventNotes}}
            </span>
        </div>
    </div>
    <div *ngIf="event.CreatedName" class="appointment-description mb-3">
        <div class="f-12">
            <span class="appointment-description-span mr-2">
                <i class="fe fe-user-plus"></i>
                {{'by' | translate}} &emsp;
                <strong>{{event.CreatedName}}</strong>
            </span>
        </div>
    </div>
    <ng-container *ngIf="userId === event.CreatedBy">
        <nz-divider></nz-divider>
        <div class="text-align-end">
            <button nz-button nzType="primary" [nzSize]="'small'" (click)="editEvent()">
                <strong>{{'edit' | translate}}</strong>
            </button>
            &nbsp;
            <button nz-button nzType="primary" nzDanger [nzSize]="'small'" (click)="deleteEvent()">
                <strong>{{'delete' | translate}}</strong>
            </button>
        </div>
    </ng-container>
</div>