<div>
  <div class="card">
    <div class="card-body">
      <div class="w-100 m-3">
        <a [routerLink]="['/documents']" nz-button nzType="default" nzSize="large">
          <span>
            <i nz-icon nzType="caret-left"></i>
          </span>
        </a>
      </div>
      <app-add-document [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
        (documentCreated)='AddDocumentSuccess($event)' [fId]="folderId"></app-add-document>
      <hr [hidden]="userRole !== 'Parent' && userRole !== 'Child'">
      <div class="col-md-12 col-md-content">
        <div class="row" *ngIf="listData.length !== 0; else noData">
          <div class="col-sm-2" *ngFor="let docs of listData">
            <div class="thumbnail mt-5">
              <br>
              <a class="folder-link">
                <div class="overlay">
                  <img *ngIf="docs.Type ==='.pdf'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/pdf.png" alt="Folder"
                    class="mswordType">
                  <img *ngIf="docs.Type ==='.png'" [src]="docs.BlobUrl" alt="Folder" class="imageType">
                  <img *ngIf="docs.Type ==='.jpg'" [src]="docs.BlobUrl" alt="Folder" class="imageType">
                  <img *ngIf="docs.Type ==='.docx' || docs.Type ==='.doc'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/docx_win.png" alt="Folder"
                    class="mswordType">
                  <img *ngIf="docs.Type ==='.xlsx' || docs.Type ==='.xls'"
                    src="https://icons.iconarchive.com/icons/treetog/file-type/256/xlsx-win-icon.png"
                    class="mswordType" alt="Folder">
                  <img *ngIf="docs.Type ==='.ppt' || docs.Type ==='.pptx'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/pptx_win.png" class="mswordType"
                    alt="Folder">

                    <img *ngIf="docs.Type ==='.mp4'"
                    src="https://www.flaticon.com/svg/vstatic/svg/1975/1975520.svg?token=exp=1615803630~hmac=0d99560a8b18adc003557e5031056b75" class="mswordType"
                    alt="Folder">

                    <img *ngIf="docs.Type ==='.mp3'"
                    src="https://iconarchive.com/download/i95107/trayse101/basic-filetypes-2/mp3.ico" class="mswordType"
                    alt="Folder">

                    <img *ngIf="docs.Type ==='.txt'"
                    src="https://icons.iconarchive.com/icons/treetog/file-type/256/readme-icon.png" class="mswordType"
                    alt="Folder">
                   <img
                    *ngIf="docs.Type !=='.ppt' && docs.Type !=='.pdf' && docs.Type !=='.xlsx'
                     && docs.Type !=='.png' && docs.Type !=='.jpg' && docs.Type !== '.mp3' 
                     && docs.Type !== '.mp4' && docs.Type !=='.docx' && docs.Type !=='.xls' && docs.Type !=='.pptx'
                     && docs.Type !=='.doc' && docs.Type !=='.xlsx' && docs.Type !=='.txt' "
                    src="https://thumbs.dreamstime.com/b/office-folders-isolated-white-18104748.jpg"
                    class="mswordType" alt="Folder"> 
                </div>
              </a>

             
              <div class="caption">
                <h5 class="text-center">
                  <p class="docName">{{docs.Name}}</p>
                  <p> {{docs.Type}}</p>
                </h5>
                <br>
                <p class="text-center ml-3">
                  <a class="btn btn-sm btn-default" [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
                    tooltip="{ title: 'Edit' }" data-original-title="" title=""
                    (click)="$event.stopPropagation(DownloadDocument(docs.BlobUrl))" nz-tooltip
                    nzTooltipTitle="Download document"><i class="fa fa-download"></i>
                  </a>
                  <a class="btn btn-sm btn-primary ml-4" [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
                    (click)="$event.stopPropagation(DeleteDocument(docs.DocumentId))" nz-tooltip
                    nzTooltipTitle="Delete document" tooltip="{ title: 'Destroy' }" rel="nofollow" data-method="delete"
                    data-original-title="" title=""><i class="fa fa-trash"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noData>
          <nz-empty></nz-empty>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div>