<div>
  <div class="card">
    <div class="card-body">
      <div class="w-100 m-3">
        <a [routerLink]="['/documents']" nz-button nzType="default" nzSize="large">
          <span>
            <i nz-icon nzType="caret-left"></i>
          </span>
        </a>
      </div>
      <app-add-document [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
        (documentCreated)='AddDocumentSuccess($event)' [fId]="folderId"></app-add-document>
      <hr [hidden]="userRole !== 'Parent' && userRole !== 'Child'">
      <div class="col-md-12 col-md-content">
        <div class="row" *ngIf="listData.length !== 0; else noData">
          <div class="col-sm-2" *ngFor="let docs of listData">
            <div class="thumbnail mt-5">
              <br>
              <a class="folder-link">
                <div class="overlay">
                  <img *ngIf="docs.Type ==='.pdf'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/pdf.png" alt="Folder"
                    class="mswordType">
                  <img *ngIf="docs.Type ==='.png'" [src]="docs.BlobUrl" alt="Folder" class="imageType">
                  <img *ngIf="docs.Type ==='.jpg'" [src]="docs.BlobUrl" alt="Folder" class="imageType">
                  <img *ngIf="docs.Type ==='.docx'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/docx_win.png" alt="Folder"
                    class="mswordType">
                  <img *ngIf="docs.Type ==='.xlsx'"
                    src="https://cdn3.iconfinder.com/data/icons/cad-database-presentation-spreadsheet-vector-file-/512/22-256.png"
                    class="mswordType" alt="Folder">
                  <img *ngIf="docs.Type ==='.ppt'"
                    src="https://cdn0.iconfinder.com/data/icons/FileTypesIcons/256/pptx_win.png" class="mswordType"
                    alt="Folder">
                  <img
                    *ngIf="docs.Type !=='.ppt' && docs.Type !=='.pdf' && docs.Type !=='.xlsx' && docs.Type !=='.png' && docs.Type !=='.jpg' "
                    src="https://www.flaticon.com/svg/vstatic/svg/4270/4270655.svg?token=exp=1614158209~hmac=9dbb4c5030b7725acfdc311aa21a2cda"
                    class="mswordType" alt="Folder">
                </div>
              </a>
              <div class="caption">
                <h5 class="text-center">
                  <p class="docName">{{docs.Name}}</p>
                  <p> {{docs.Type}}</p>
                </h5>
                <br>
                <p class="text-center ml-3">
                  <a class="btn btn-sm btn-default" [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
                    tooltip="{ title: 'Edit' }" data-original-title="" title=""
                    (click)="$event.stopPropagation(DownloadDocument(docs.BlobUrl))" nz-tooltip
                    nzTooltipTitle="Download document"><i class="fa fa-download"></i>
                  </a>
                  <a class="btn btn-sm btn-primary ml-4" [hidden]="userRole !== 'Parent' && userRole !== 'Child'"
                    (click)="$event.stopPropagation(DeleteDocument(docs.DocumentId))" nz-tooltip
                    nzTooltipTitle="Delete document" tooltip="{ title: 'Destroy' }" rel="nofollow" data-method="delete"
                    data-original-title="" title=""><i class="fa fa-trash"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noData>
          <nz-empty></nz-empty>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div>