.thumbnail {
  width: 100px;
}

.mswordType {
  width: 120px;
  height: 135px;
}

.imageType {
  width: 120px;
  height: 130px;
}

.docName {
  display: inline-block;
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
