<div class="col-xl-12 " style="margin: 10px 0px;padding: 0px ;">
    <button nz-button nzType="primary" (click)="AddNote()">Add note</button>
</div>
<hr>
<ng-container *ngIf="listData && listData.length > 0; else noData">
    <div *ngFor="let caseNote of listData">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-start">
                    <!-- <div _ngcontent-ioe-c293="" class="kit__utils__avatar kit__utils__avatar--size64 mr-3">
                        <img _ngcontent-ioe-c293=""
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOALqcMjby_cOSIr-3GFWRO_zY_j0qcB4zRA&usqp=CAU"
                            alt="Mary Stanform">
                    </div> -->
                    <div>
                        <div class="ml-4">
                            <!-- <p class="text-uppercase text-dark font-size-18 font-weight-bold  ">
                                CaseName </p> -->
                            <div class="text-uppercase font-weight-bold font-size-18 mb-3">
                                {{caseNote.ModifiedDate | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm A'}}</div>
                        </div>
                        <p class="text-gray-5 ml-4">
                            {{caseNote.Note}}
                        </p>
                    </div>
                </div>

                <div class="row pull-right">
                    <a class="btn btn-sm btn-default" (click)="$event.stopPropagation(EditCaseNote(caseNote))"
                        nz-tooltip nzTooltipTitle="Edit note" data-original-title="" title="">
                        <i class="fa fa-edit"></i> </a>

                    <a class="btn btn-sm btn-danger ml-2" (click)="$event.stopPropagation(DeleteNote(caseNote.Id))"
                        nz-tooltip nzTooltipTitle="Delete note" data-original-title="" title="">
                        <i class="fa fa-trash"></i> </a>
                </div>
            </div>

        </div>
    </div>
</ng-container>

<nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" [nzTitle]="CaseNotemodalTitle" (nzOnCancel)="ModalCancel()"
    nzMaskClosable="false">
    <ng-container *nzModalContent>
        <app-add-note [CaseId]="this.caseId" [caseNoteDataSub]="caseNoteObserverSubject"
            (caseNoteCreated)='AddNoteSuccess($event)' (expenseSavedEvent)='SavedCallBack()'></app-add-note>
    </ng-container>
</nz-modal>


<ng-template #noData>
    <nz-empty style="margin: 0 auto;"></nz-empty>
</ng-template>