.client-appointment-view-div {
  i.fe {
    font-size: 16px;
    color: #2b3b4d;
  }
  .appointment-title {
    .appointment-title-span {
      height: 14px;
      width: 16px;
      display: inline-block;
      border-radius: 2px;
    }
  }
}

::ng-deep .ant-modal-body {
  padding: 10px 24px !important;
}

.status {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  color: #ffffff;
}
.pending {
  background-color: #ffbb33;
}
.rejected {
  background-color: #ff4b33;
}
.approved {
  background-color: #00c851;
}
