<div class="row">
    <div class="col-12 text-right mb-2" [hidden]="currentUserData?.UserRole !== 'Parent'">
        <a nz-button nzType="default" (click)="isViewMode = !isViewMode; form.reset()">
            <span [hidden]="!isViewMode">Add New</span>
            <span [hidden]="isViewMode">Go to List</span>
        </a>
    </div>
</div>

<ng-container *ngIf="!isViewMode; else viewTpl">
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please select a Parent">
                <nz-select formControlName="ParentId" nzPlaceHolder="Select Parent">
                    <nz-option *ngFor="let item of parentList" [nzValue]="item.Id" [nzLabel]="item.DisplayName">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please select a Child">
                <nz-select formControlName="ChildrenIds" nzPlaceHolder="Select Child" nzMode="multiple">
                    <nz-option *ngFor="let item of childList" [nzValue]="item.Id" [nzLabel]="item.Name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please enter From Date">
                <nz-date-picker formControlName="DateFrom" nzPlaceHolder="From" class="w-100"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please enter To Date">
                <nz-date-picker formControlName="DateTo" nzPlaceHolder="To" class="w-100"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="Please write something here">
                <textarea formControlName="Notes" nz-input rows="2" placeholder="Enter Notes"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <div class="text-center w-100">
                <button nz-button nzType="primary">Submit</button>
            </div>
        </nz-form-item>
    </form>
</ng-container>

<ng-template #viewTpl>
    <div>
        <nz-table #basicTable [nzData]="dataList" class="kit__utils__table mb-4" nzTableLayout="fixed">
            <thead>
                <tr>
                    <th style="width: 50px;">#</th>
                    <th>Parent</th>
                    <th>Children</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Status</th>
                    <th width="200px">Notes</th>
                    <th width="80px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{ i+1 }}</td>
                    <td nzEllipsis nz-tooltip [nzTooltipTitle]="data.ParentName">{{ data.ParentName }}</td>
                    <td nzEllipsis nz-tooltip [nzTooltipTitle]="getChildList(data.Children)">
                        {{ getChildList(data.Children) }}
                    </td>
                    <td>{{ data.DateFrom | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY' }}</td>
                    <td>{{ data.DateTo | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY' }}</td>
                    <td>
                        <span class="status pending" *ngIf="data.Status == 0">
                            {{ statusEnum[data.Status] }}
                        </span>
                        <span class="status rejected" *ngIf="data.Status == 1">
                            {{ statusEnum[data.Status] }}
                        </span>
                        <span class="status approved" *ngIf="data.Status == 2">
                            {{ statusEnum[data.Status] }}
                        </span>
                    </td>
                    <td nzEllipsis nz-tooltip [nzTooltipTitle]="data.Notes">{{ data.Notes }}</td>

                    <td width="80px">
                        <ng-container *ngIf="currentUserData?.UserRole === 'Parent'">
                            <ng-container *ngIf="data && data.UserId != currentUserId; else sameUserTpl">
                                <ng-container *ngIf="data.Status === 0; else noAction">
                                    <i nz-icon nzType="check-circle" nz-tooltip nzTooltipTitle="Approve"
                                        (click)="$event.stopPropagation(updateStatus(2, data))" nzTheme="outline"
                                        class="text-success"></i>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <i nz-icon nzType="stop" nz-tooltip nzTooltipTitle="Reject"
                                        (click)="$event.stopPropagation(updateStatus(1, data))" nzTheme="outline"
                                        class="text-danger"></i>
                                </ng-container>
                                <ng-template #noAction>
                                    <span nz-tooltip
                                        nzTooltipTitle="You have already {{statusEnum[data.Status].toLowerCase()}} this request">
                                        ...
                                    </span>
                                </ng-template>
                            </ng-container>
                        </ng-container>

                        <ng-template #sameUserTpl>
                            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit"
                                (click)="$event.stopPropagation(editChangeRequest(data))" nzTheme="fill"
                                class="text-success"></i>
                            <nz-divider nzType="vertical"></nz-divider>
                            <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete"
                                (click)="$event.stopPropagation(delete(data.Id))" nzTheme="fill"
                                class="text-danger"></i>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</ng-template>