<div class="row">
  <div class="col-xl-12">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="SaveEvent()" role="form" *ngIf="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="{{'eventRequired' | translate}}">
          <input type="text" nz-input formControlName="EventSubject" placeholder="{{'title' | translate}}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="{{'eventDateRequired' | translate }}">
          <nz-range-picker [nzFormat]="'yyyy/MM/dd HH:mm'" [nzShowTime]="{ nzFormat: 'HH:mm a',nzUse12Hours:true }"
            formControlName="EventDateRange" [nzPlaceHolder]="['From', 'To']" class="w-100">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="IsAllDay">{{'allDay' | translate}}</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <input type="text" nz-input formControlName="EventPlace" placeholder="{{'place' | translate}}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select *ngIf="FamilyChilds" formControlName="EventChilds" nzMode="multiple"
            nzPlaceHolder="{{'selectChildren' | translate}}">
            <nz-option *ngFor="let option of FamilyChilds"
              nzLabel="{{option.ChildFirstName + ' ' + option.ChildLastName}}" [nzValue]="option.ChildId"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <app-color-picker [color]="backgroundColor" label="{{'pickColor' | translate}}" (event)="setColor($event)">
          </app-color-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <textarea rows="3" nz-input formControlName="EventNotes" placeholder="{{'notes' | translate}}"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" class="text-center w-100">
            <strong>{{'save' | translate}}</strong>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <nz-skeleton [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }" *ngIf="!form"></nz-skeleton>
  </div>
</div>