<div class="row">
    <div class="col-xl-12">
        <form nz-form [nzLayout]="'vertical'" role="form" [formGroup]="form" role="form" (ngSubmit)="handleSubmit(formDirective)" #formDirective="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-control>
                            <input type="number" nz-input placeholder="Enter Hourse" formControlName='Hourse'>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-control>
                            <input type="number" nz-input placeholder="Enter Minutes" formControlName='Minutes'>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-item>
                <nz-form-control>
                    <input type="text" nz-input placeholder="Enter task" formControlName='Task'>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <textarea nz-input formControlName='Description' placeholder="Write Dcesciption ..."
                              formControlName="Description"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
                        <strong> Save</strong>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>