<div>
  <div class="boxContainer" nz-col [nzSpan]="24">
    <div class="text-dark font-size-24 mb-4">
      <strong>{{'registration' | translate}}</strong>
    </div>
    <div class="mb-4">
      <p>
        {{'completeYourRegistration' | translate}}
      </p>
    </div>

    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="{{'parentAccount' | translate}}" nzDescription="{{'createAccount' | translate}}">
      </nz-step>
      <nz-step nzTitle="{{'coParnetChild' | translate}}" nzDescription="{{'addYourCoParent' | translate}}">
      </nz-step>
      <!-- <nz-step nzTitle="Done" nzDescription="Complete your subscription"></nz-step> -->
    </nz-steps>

    <div class="steps-content">
      <div *ngIf="currentRegStep == registrationStepsEnums.Parent">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="parentForm()" role="form">
          <nz-form-item>
            <nz-form-control>
              <input type="text" nz-input nzSize="large" formControlName="firstName"
                placeholder="{{'firstName' | translate}}" />
              <div class="text-danger">
                <ng-container *ngIf="parentSubmission && firstName.hasError('required')">
                  {{'firstNameError' | translate}}
                </ng-container>
                <!-- <ng-container *ngIf="parentSubmission && firstName.hasError('minlength') && !firstName.hasError('required')">Minimum 3 characters are required!</ng-container> -->
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input type="text" nz-input nzSize="large" formControlName="lastName"
                placeholder="{{'lastName' | translate}}" />
              <div class="text-danger">
                <ng-container *ngIf="parentSubmission && lastName.hasError('required')">
                  {{'lastNameError' | translate}}
                </ng-container>
                <!-- <ng-container *ngIf="parentSubmission && lastName.hasError('minlength') && !lastName.hasError('required')">Minimum 3 characters are required!</ng-container> -->
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input type="email" nz-input nzSize="large" formControlName="email"
                placeholder="{{'email' | translate}}" />
              <div class="text-danger">
                <ng-container *ngIf="parentSubmission && email.hasError('required')">
                  {{'emailError' | translate}} - xyz@mail.com
                </ng-container>
                <ng-container *ngIf="parentSubmission && email.hasError('pattern') && !email.hasError('required')">
                  {{'emailError' | translate}} - xyz@mail.com
                </ng-container>
                <ng-container
                  *ngIf="parentSubmission && email.hasError('maxlength') && !email.hasError('required') && !email.hasError('pattern')">
                  Maximum 255 characters are allowed!</ng-container>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input type="password" nz-input nzSize="large" formControlName="password"
                placeholder="{{'password' | translate}}" />
              <div class="text-danger">
                <ng-container *ngIf="parentSubmission && password.hasError('required')">
                  {{'passwordError' | translate}}
                </ng-container>
                <ng-container
                  *ngIf="parentSubmission && password.hasError('minlength') && !password.hasError('required')">Minimum 4
                  characters are required!</ng-container>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [nzSize]="'large'" [nzLoading]="loading" class="text-center w-100">
                <strong>{{'continue' | translate}}</strong>
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div *ngIf="currentRegStep == registrationStepsEnums.CoParentChildren">
        <nz-divider nzText="{{'coParent' | translate}}"></nz-divider>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="CoParentChildForm()" role="form">
          <nz-form-item>
            <nz-form-control>
              <input type="email" nz-input nzSize="large" formControlName="coParentEmail"
                placeholder="{{'Email' | translate }} ({{'optional' | translate }})" />
              <div class="text-danger">
                <ng-container *ngIf="parentSubmission && coParentEmail.hasError('pattern')">
                  {{'emailError' | translate}} - xyz@mail.com
                </ng-container>
                <ng-container *ngIf="parentSubmission && email.hasError('maxlength') && !lastName.hasError('pattern')">
                  Maximum 255 characters are allowed!</ng-container>
              </div>
            </nz-form-control>
          </nz-form-item>

          <div formArrayName="childsArray">
            <div *ngFor="let item of childs.controls; index as i">
              <nz-divider nzText="{{'child' | translate}}"></nz-divider>
              <div class="text-align-right">
                <i *ngIf="childs.length !== (i+1)" nz-icon nzType="delete" nzDanger (click)="removeChildFormGroup(i)"
                  nz-tooltip nzTooltipTitle="Delete Child" nzTheme="fill" class="text-danger pointer "></i>
              </div>
              <ng-container [formGroupName]="i">
                <nz-form-item>
                  <nz-form-control>
                    <input type="text" nz-input nzSize="large" formControlName="childFirstName"
                      placeholder="{{'firstName' | translate}} ({{'optional' | translate }})" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <input type="text" nz-input nzSize="large" formControlName="childLastName"
                      placeholder="{{'lastName' | translate}} ({{'optional' | translate }})" />
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
            </div>
            <ng-container>
              <button type="button" class="text-center" [nzBlock]="true" nz-button [nzSize]="small" nzType="link"
                (click)="addChild()"> + {{'addChild' | translate}} </button>
            </ng-container>
          </div>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [nzSize]="'large'" [nzLoading]="loading"
                class="text-center w-100 mg-top-20">
                <strong>{{'completeRegistration' | translate}}</strong>
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div class="steps-action">
      <button nz-button nzType="link" (click)="backToPreviousStep()" *ngIf="current > 0">
        <span><i nz-icon nzType="left" nzTheme="outline"></i> {{'previous' | translate}}</span>
      </button>

    </div>


  </div>
  <div class="text-center pt-2 mb-auto">
    <span class="mr-2"> {{'alreadyHave' | translate}}</span>
    <a routerLink="/auth/login" class="kit__utils__link font-size-16">
      {{'signIn' | translate}}
    </a>
  </div>
</div>