<nz-card nzTitle="Forms">
    <div class="row">
        <div class="col-md-12">
            <h5 class="mb-4">
                <span class="float-right" *ngIf="userRole === 'Lawyer'">
                    <button nz-button nzType="primary" (click)="showModal()">New Form</button>
                </span>
            </h5>
        </div>
    </div>

    <div class="mt-4">
        <nz-table #basicTable [nzData]="dataList" class="kit__utils__table mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th *ngIf="userRole === 'Lawyer'">Shared with</th>
                    <th style="width: 300px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>
                        {{data.Title}}
                    </td>
                    <td *ngIf="userRole === 'Lawyer'">
                        <ng-container *ngIf="data.Families && data.Families.length > 0; else noFamilyTpl">
                            <ng-container *ngFor="let item of data.Families">
                                <span class="mr-2 p-2 mb-1 badge badge-light badge-pill">
                                    {{item.FamilyName}}
                                </span>
                                <br>
                            </ng-container>
                        </ng-container>
                        <ng-template #noFamilyTpl>
                            <span class="text-gray-4">
                                Not shared yet!
                            </span>
                        </ng-template>
                    </td>
                    <td>
                        <button *ngIf="userRole === 'Lawyer'" nz-button nzType="default" nzSize="small" class="mr-2"
                            (click)="showShareModal(data)">
                            <i class="fe fe-send font-size-10 pr-2"></i>
                            Share
                        </button>
                        <button nz-button nzType="default" nzSize="small" class="mr-2" (click)="openPreview(data)">
                            <i class="fe fe-eye font-size-10 pr-2"></i>
                            Preview
                        </button>
                        <button *ngIf="userRole === 'Lawyer'" nz-button nzType="default" nzSize="small" class="mr-2"
                            (click)="showModal(data)">
                            <i class="fe fe-edit-3 font-size-10 pr-2"></i>
                            Edit
                        </button>
                        <button *ngIf="userRole === 'Lawyer'" nz-button nzType="default" nzSize="small" nzDanger
                            (click)="deleteForm(data.Id)">
                            <i class="fe fe-delete font-size-10 pr-2"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>

<div>
    <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" nzTitle="Form" (nzOnCancel)="onModalCancel()"
        nzMaskClosable="false">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Title is Required">
                        <label class="mb-0">Title</label>
                        <input nz-input formControlName="Title" placeholder="Enter form title here..." />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Content is Required">
                        <label class="mb-0">Content</label>
                        <textarea nz-input formControlName="Content"
                            placeholder="Paste your embeded form here..."></textarea>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <button class="w-100" nz-button nzType="primary">Save</button>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>


<div>
    <nz-modal [nzFooter]="null" [(nzVisible)]="isShareVisible" nzTitle="Share Form with Family"
        (nzOnCancel)="handleShareCancel()" nzMaskClosable="false">
        <ng-container *nzModalContent>
            <div class="mb-3">
                <nz-select class="w-100" nzMode="multiple" nzPlaceHolder="Select/Search Family to Share with"
                    [(ngModel)]="selectionList">
                    <nz-option *ngFor="let item of familyList" [nzLabel]="item.Name" [nzValue]="item.Id">
                    </nz-option>
                </nz-select>
            </div>
            <div class="mb-3">
                <button class="w-100" nz-button nzType="primary" (click)="onShare()">Share</button>
            </div>
        </ng-container>
    </nz-modal>
</div>