<div>
  <div class="text-center mb-5">
    <img src="assets/images/logo.svg" alt="GoParent" width="150">
    <h1 class="px-3">
      <strong>{{'welcome' | translate}}</strong>
    </h1>
    <p class="" [innerHTML]="'anExcellent' | translate">
    </p>
  </div>
  <div class="card boxContainer">
    <div class="text-dark font-size-24 mb-3">
      <strong>{{'signInTo' | translate}}</strong>
    </div>
    <div class="mb-4">
      <!-- <nz-radio-group [ngModel]="authProvider" (ngModelChange)="setProvider($event)">
        <label nz-radio nzValue="firebase">Firebase</label>
        <label nz-radio nzValue="jwt">JWT</label>
        <label nz-radio nzValue="auth0" nzDisabled nzTooltipTitle="Read Docs Guide" nzTooltipPlacement="top"
          nz-tooltip>Auth0</label>
        <label nz-radio nzValue="strapi" nzDisabled nzTooltipTitle="Read Docs Guide" nzTooltipPlacement="top"
          nz-tooltip>Strapi</label>
      </nz-radio-group> -->
    </div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'emailError' | translate }}">
          <input type="text" nz-input formControlName="email" nzSize="large" placeholder="{{'email' | translate}}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'emailError' | translate }}">
          <input type="password" nz-input nzSize="large" formControlName="password"
            placeholder="{{'password' | translate}}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzSize]="'large'" [nzLoading]="loading" class="text-center w-100">
            <strong> {{'login' | translate}}</strong>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <a routerLink="/auth/forgot-password" class="kit__utils__link font-size-16">
      {{'forgotPassword' | translate}}
    </a>
  </div>
  <div class="text-center pt-2 mb-auto">
    <span class="mr-2">{{'dontHaveAccount' | translate}}</span>
    <a routerLink="/auth/register" class="kit__utils__link font-size-16">
      {{'signUp' | translate}}
    </a>
  </div>
</div>