.profile-pic-delete-icon{
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #455c7b;
    font-size: 11px;
    box-shadow: 1px 3px 6px #d1d1d1;
    right: 45%;
}