<div>

  <div class="card">
    <div class="card-body">
      <h5 class="mb-4">
        <strong>Family Children</strong>
      </h5>
      <div class="col-xl-12 " style="margin: 10px 0px;padding: 0px ;">
        <button nz-button nzType="primary" (click)="AddChild()">Add Child</button>
      </div>
      <nz-table #basicTable [nzData]="childsList" class="kit__utils__table mb-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Profile Pic</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i=index">
            <td>{{ i+1 }}</td>
            <td><img src='{{data.ProfileImage||"/assets/images/avatars/avatar-2.png"}}' /></td>
            <td>{{ data.Name }}</td>
            <td>
              <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Profile"
                (click)="$event.stopPropagation(EditChildProfile(data.Id))" nzTheme="fill" class="text-success"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete Child"
                (click)="$event.stopPropagation(DeleteChild(data.Id))" nzTheme="fill" class="text-danger"></i>

              <!-- <a class="btn btn-info btn-sm" href="javascript:void(0)" (click)="EditChildProfile(data.Id)">Edit Profile</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a class="btn btn-danger btn-sm" href="javascript:void(0)" (click)="DeleteChild(data.Id)">Delete</a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>


    </div>
  </div>
</div>



<div>
  <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleChildModalCancel()"
    nzMaskClosable="false">
    <ng-container *nzModalContent>
      <app-add-child (childCreated)='AddChildSuccess($event)'></app-add-child>
    </ng-container>
  </nz-modal>
</div>