<div>
   
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">
          <strong>Child Profile</strong>
        </h5>
       
        <nz-tabset class="kit-tabs" [nzSelectedIndex]="0">
            
            <nz-tab nzTitle="Information">
               
                <form nz-form [formGroup]='informationForm' (ngSubmit)='SaveChildInformation()' [nzLayout]="'vertical'">
                    <p><b>General Info</b></p>
                    <div class="row">
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label >Birth Date</nz-form-label>
                          <nz-form-control>
                            <input nz-input  formControlName='DOB' type="date" />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label nzFor="password3">ID Number</nz-form-label>
                          <nz-form-control>
                            <input nz-input formControlName='IDNumber' type="text" placeholder="ID Number"  />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label >Social Security</nz-form-label>
                          <nz-form-control>
                            <input nz-input  formControlName='SocialSecurity' type="text" placeholder="Social Security" />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label >Weight</nz-form-label>
                          <nz-form-control>
                            <input nz-input formControlName='Weight' placeholder="Weight" type="number" />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col-md-6">
                        <nz-form-item>
                            <nz-form-label >Height</nz-form-label>
                            <nz-form-control>
                              <input nz-input formControlName='Height' placeholder="Height" type="number" />
                            </nz-form-control>
                          </nz-form-item> 
                      </div>
                      
                      
                    </div>
                    <p><b>Size</b></p>
                    <div class="row">
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label >T-Shirt</nz-form-label>
                                <nz-form-control>
                                  <input nz-input formControlName='TShirt' placeholder="T-Shirt" type="number" />
                                </nz-form-control>
                              </nz-form-item> 
                          </div>
                          <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label >Dress</nz-form-label>
                                <nz-form-control>
                                  <input nz-input formControlName='Dress' placeholder="Dress" type="number" />
                                </nz-form-control>
                              </nz-form-item> 
                          </div>
                          <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label >Trousers</nz-form-label>
                                <nz-form-control>
                                  <input nz-input formControlName='Trousers' placeholder="Trousers" type="number" />
                                </nz-form-control>
                              </nz-form-item> 
                          </div>
                          <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label >Shoe Size</nz-form-label>
                                <nz-form-control>
                                  <input nz-input formControlName='ShoeSize' placeholder="ShoeSize" type="number" />
                                </nz-form-control>
                              </nz-form-item> 
                          </div>
                        <div class="col-12">
                           <div class="col-md-6" style="padding: 0px;">
                              <button type="submit" [disabled]='!informationForm.valid'  class="btn btn-primary">
                                  Save
                                </button>
                           </div>
                        
                        </div>
                    </div>
                  </form>
            </nz-tab>
            <nz-tab nzTitle="Medical Information">
                <form nz-form [formGroup]='MedicalForm' (ngSubmit)='SaveMedicalInfo()' >
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Blood Type</nz-form-label>
                        <nz-form-control [nzSm]="12" [nzXs]="24" >
                            <input nz-input  formControlName='BloodType' placeholder="Blood Group e.g, A+,A- " type="text" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Allergies</nz-form-label>
                        <nz-form-control [nzSm]="12" [nzXs]="24" >
                            <textarea nz-input formControlName='Allergies'   placeholder="Allergies ..."  ></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Diseases</nz-form-label>
                        <nz-form-control [nzSm]="12" [nzXs]="24" >
                            <textarea nz-input formControlName='Diseases'   placeholder="Diseases ..."  ></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Chronic Problems</nz-form-label>
                        <nz-form-control [nzSm]="12" [nzXs]="24" >
                            <textarea nz-input formControlName='ChronicProblems'   placeholder="Chronic Problems ..."  ></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        
                        <nz-form-control [nzSm]="12" [nzXs]="24" >
                            <button type="submit" [disabled]='!MedicalForm.valid'  class="btn btn-primary">
                                Save
                              </button>
                        </nz-form-control>
                    </nz-form-item>
                  
                  </form>
            </nz-tab>
            <nz-tab nzTitle="Vaccines">
                Content of Tab Pane 3
              </nz-tab>
              <nz-tab nzTitle="Nutritional">
                Content of Tab Pane 3
              </nz-tab>
              <nz-tab nzTitle="Educational">
                Content of Tab Pane 3
              </nz-tab>
          </nz-tabset>


      </div>
    </div>
  </div>

