<div class="row">
    <div class="col-xl-12">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="expenseForm" (ngSubmit)="submitHandler()" role="form">
            <input type="hidden" formControlName='Id' />
            <nz-form-item>
                <nz-form-control>
                    <input type="text" nz-input nzSize="large" formControlName="Title"
                        placeholder="{{'title' | translate}}" />
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && FormControls.Title.hasError('required')">{{'titleError' |
                            translate}}
                        </ng-container>

                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <input type="number" nz-input nzSize="large" formControlName="Cost"
                        placeholder="{{'cost' | translate}}" />
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && FormControls.Cost.hasError('required')">
                            {{'costError' | translate}}
                        </ng-container>
                    </div>
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && FormControls.Cost.hasError('min')">Amount should be greater
                            than 0!</ng-container>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <input type="number" nz-input nzSize="large" formControlName="SharePercentage"
                        placeholder="{{'myPercentage' | translate}}" />
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && FormControls.SharePercentage.hasError('required')">
                            {{'percentageError' | translate}}
                        </ng-container>
                    </div>
                    <div class="text-danger">
                        <ng-container
                            *ngIf="IsSubmitted && (FormControls.SharePercentage.hasError('min')||FormControls.SharePercentage.hasError('max'))">
                            Percentage can be from 0 to 100!</ng-container>
                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <nz-select formControlName='ExpenseTypeId'>
                        <nz-option nzValue="" nzLabel="{{'selectExpenseType' | translate}}"></nz-option>
                        <ng-container *ngFor='let _type of ExpenseTypesList'>
                            <nz-option nzValue="{{_type.Id}}" nzLabel="{{_type.Name}}"></nz-option>
                        </ng-container>

                    </nz-select>
                    <div class="text-danger">
                        <ng-container *ngIf="IsSubmitted && FormControls.ExpenseTypeId.hasError('required')">
                            {{'expenseTypeError' | translate}}
                        </ng-container>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <textarea nz-input formControlName='Notes' placeholder="{{'notes' | translate}} ..."></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
                        <strong> {{'save' | translate}}</strong>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>