<div class="row">
    <div class="col-md-12">
        <h5 class="mb-4">
            <strong>{{'Parental Agreements' | translate}}</strong>
            <span class="float-right" *ngIf="userRole === 'Parent'">
                <button nz-button nzType="primary" (click)="openFormModal()">{{'Define Agreement' | translate}}</button>
            </span>
        </h5>

    </div>
    <ng-container *ngIf="dataList && dataList.length > 0; else noData">
        <div class="col-md-6 mb-4" *ngFor="let data of dataList">
            <div>
                <div class="agreement-card pt-4 pl-4 overflow-hidden position-relative bg-light">
                    <div class=" mb-2">
                        {{'Title' | translate}}:<br>
                        <span class="font-size-18 text-dark ml-4">
                            {{data.Title}}
                        </span>
                    </div>
                    <div class=" mb-2">
                        {{'Content' | translate}}:<br>
                        <span class="font-size-18 text-dark ml-4">
                            {{data.Content}}
                        </span>
                    </div>
                    <div class="mb-3">
                        {{'File' | translate}}:<br>
                        <span class="font-size-18 text-dark ml-4" *ngIf="data.ContentFileURL">
                            <a href="{{data.ContentFileURL}}" target="_blank">
                                {{data.ContentFileName}}
                                <div class="font-size-10 text-gray-4 ml-4">
                                    {{'Click to View' | translate}}
                                </div>
                            </a>
                        </span>
                    </div>
                    <div *ngIf="userId == data.CreatedBy" class="mb-4">
                        <label class="mb-0">{{'Co-Parent\'s Feedback' | translate}}</label><br>
                        <div class="ml-4">
                            <nz-rate [(ngModel)]="data.Feedback" [nzDisabled]="true"
                                [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']">
                            </nz-rate>
                            <div class="font-size-10 text-gray-4">
                                {{'You cannot add feedback to your own agreement' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="font-size-21">
                        <div *ngIf="userId == data.CreatedBy; else feedbackTpl" [hidden]="userRole !== 'Parent'">
                            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="{{'edit' | translate}}"
                                (click)="$event.stopPropagation(edit(data))" nzTheme="fill" class="text-success"></i>
                            <nz-divider nzType="vertical"></nz-divider>
                            <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="{{'delete' | translate}}"
                                (click)="$event.stopPropagation(delete(data.Id))" nzTheme="fill"
                                class="text-danger"></i>
                        </div>
                        <ng-template #feedbackTpl>
                            <ng-container *ngIf="userRole === 'Parent'; else lawyerTpl">
                                <label class="mb-0 font-size-16">{{'Your Feedback' | translate}}</label><br>
                                <div class="ml-4">
                                    <nz-rate [(ngModel)]="data.Feedback"
                                        [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']"
                                        (ngModelChange)="onFeedbackChange($event, data.Id)">
                                    </nz-rate>
                                    <div class="font-size-10 text-gray-4">
                                        {{'Give feedback to this agreement' | translate}}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #lawyerTpl>
                            <label class="mb-0 font-size-16">{{'Other Co-Parent\'s Feedback' | translate}}</label><br>
                            <div class="ml-4">
                                <nz-rate [(ngModel)]="data.Feedback" [nzDisabled]="true"
                                    [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']"
                                    (ngModelChange)="onFeedbackChange($event, data.Id)">
                                </nz-rate>
                                <div class="font-size-10 text-gray-4">
                                    {{'You can only view feedback' | translate}}
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noData>
    <div class="col-md-12">
        <nz-result nzStatus="404" nzTitle="{{'No Data Found!' | translate}}">
        </nz-result>
    </div>
</ng-template>

<div>
    <nz-modal [nzFooter]="null" [(nzVisible)]="formModalVisible" nzTitle="Define Agreement"
        (nzOnCancel)="onFormModalCancel()" nzMaskClosable="false">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <nz-form-item>
                    <nz-form-control>
                        <label class="mb-0">{{'Title' | translate}}</label>
                        <input nz-input formControlName="Title" placeholder="Enter Title" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <label class="mb-0">{{'Content' | translate}}</label>
                        <textarea nz-input formControlName="Content"
                            placeholder="e.g., Check In(s) must be before 10 PM"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <label class="mb-0">{{'File' | translate}}</label>
                        <nz-upload nzType="drag" [(nzFileList)]="fileList" [nzMultiple]="false"
                            [nzBeforeUpload]="beforeUpload">
                            <p class="ant-upload-drag-icon">
                                <i nz-icon nzType="upload" nzTheme="outline"></i>
                            </p>
                            <p class="ant-upload-text">
                                {{'dragDrop'|translate}}
                            </p>
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <button class="w-100" nz-button nzType="primary">{{'save' | translate}}</button>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>