.ant-upload-drag-icon {
  margin-bottom: 0px !important;
  i {
    font-size: 32px !important;
  }
}

.icon {
  position: absolute;
  font-size: 80px;
  right: 0px;
  bottom: 0px;
}

.agreement-card {
  border-radius: 20px; 
  height: 310px; 
  overflow-y: auto !important;
}
.agreement-card:hover {
  background-color: white !important;
  box-shadow: 0px 10px 30px #e2e2e2;
}