<div class="row">
    <div class="col-md-12">
        <h5 class="mb-4">
            <strong>Parental Agreements</strong>
            <span class="float-right" *ngIf="userRole === 'Parent'">
                <button nz-button nzType="primary" (click)="openFormModal()">Define Agreement</button>
            </span>
        </h5>

    </div>
    <ng-container *ngIf="dataList && dataList.length > 0; else noData">
        <div class="col-md-6 mb-4" *ngFor="let data of dataList">
            <div>
                <div class="agreement-card pt-4 pl-4 overflow-hidden position-relative bg-light">
                    <div class=" mb-2">
                        Agreement Content:<br>
                        <span class="font-size-18 text-dark ml-4">
                            {{data.Content}}
                        </span>
                    </div>
                    <div class="mb-3">
                        Agreement File:<br>
                        <span class="font-size-18 text-dark ml-4" *ngIf="data.ContentFileURL">
                            <a href="{{data.ContentFileURL}}" target="_blank">
                                {{data.ContentFileName}}
                                <div class="font-size-10 text-gray-4 ml-4">
                                    Click to View
                                </div>
                            </a>
                        </span>
                    </div>
                    <div *ngIf="userId == data.CreatedBy" class="mb-4">
                        <label class="mb-0">Co-Parent's Feedback</label><br>
                        <div class="ml-4">
                            <nz-rate [(ngModel)]="data.Feedback" [nzDisabled]="true"
                                [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']">
                            </nz-rate>
                            <div class="font-size-10 text-gray-4">
                                You cannot add feedback to your own agreement
                            </div>
                        </div>
                    </div>
                    <div class="font-size-21">
                        <div *ngIf="userId == data.CreatedBy; else feedbackTpl" [hidden]="userRole !== 'Parent'">
                            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit"
                                (click)="$event.stopPropagation(edit(data))" nzTheme="fill" class="text-success"></i>
                            <nz-divider nzType="vertical"></nz-divider>
                            <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete"
                                (click)="$event.stopPropagation(delete(data.Id))" nzTheme="fill"
                                class="text-danger"></i>
                        </div>
                        <ng-template #feedbackTpl>
                            <ng-container *ngIf="userRole === 'Parent'; else lawyerTpl">
                                <label class="mb-0 font-size-16">Your Feedback</label><br>
                                <div class="ml-4">
                                    <nz-rate [(ngModel)]="data.Feedback"
                                        [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']"
                                        (ngModelChange)="onFeedbackChange($event, data.Id)">
                                    </nz-rate>
                                    <div class="font-size-10 text-gray-4">
                                        Give feedback to this agreement
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                        <ng-template #lawyerTpl>
                            <label class="mb-0 font-size-16">Other Co-Parent's Feedback</label><br>
                            <div class="ml-4">
                                <nz-rate [(ngModel)]="data.Feedback" [nzDisabled]="true"
                                    [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']"
                                    (ngModelChange)="onFeedbackChange($event, data.Id)">
                                </nz-rate>
                                <div class="font-size-10 text-gray-4">
                                    You can only view feedback
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <!-- <i class="icon fe fe-file-text text-gray-4"></i> -->
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noData>
    <div class="col-md-12">
        <nz-result nzStatus="404" nzTitle="No Data Found!">
        </nz-result>
    </div>
</ng-template>

<!-- 
<div>
    <div class="card">
        <div class="card-body">
            <h5 class="mb-4">
                <strong>Parent Agreements</strong>
                <span class="float-right">
                    <button nz-button nzType="primary" (click)="openFormModal()">Define Agreement</button>
                </span>
            </h5>

            <nz-table #basicTable [nzData]="dataList" class="kit__utils__table mb-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Agreement Content</th>
                        <th>Agreement File</th>
                        <th nzWidth="100px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of basicTable.data; let i=index">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>
                                {{ data.Content }}
                            </td>
                            <td>
                                <a href="{{data.ContentFileURL}}" target="_blank" rel="noopener noreferrer">
                                    {{data.ContentFileName}}</a>
                                <div class="font-size-10 text-gray-4">
                                    Click to view
                                </div>
                            </td>
                            <td>
                                <div *ngIf="userId == data.CreatedBy; else feedbackTpl"
                                    [hidden]="userRole !== 'Parent'">
                                    <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit"
                                        (click)="$event.stopPropagation(edit(data))" nzTheme="fill"
                                        class="text-success"></i>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete"
                                        (click)="$event.stopPropagation(delete(data.Id))" nzTheme="fill"
                                        class="text-danger"></i>
                                </div>
                                <ng-template #feedbackTpl>
                                    <nz-rate [(ngModel)]="data.Feedback"
                                        [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']"
                                        (ngModelChange)="onFeedbackChange($event, data.Id)">
                                    </nz-rate>
                                    <div class="font-size-10 text-gray-4">
                                        Give feedback to this agreement
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</div> -->



<div>
    <nz-modal [nzFooter]="null" [(nzVisible)]="formModalVisible" nzTitle="Define Agreement"
        (nzOnCancel)="onFormModalCancel()" nzMaskClosable="false">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <nz-form-item>
                    <nz-form-control>
                        <label class="mb-0">Agreement Content</label>
                        <textarea nz-input formControlName="Content"
                            placeholder="e.g., Check In(s) must be before 10 PM"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <label class="mb-0">Agreement File</label>
                        <nz-upload nzType="drag" [(nzFileList)]="fileList" [nzMultiple]="false"
                            [nzBeforeUpload]="beforeUpload">
                            <p class="ant-upload-drag-icon">
                                <i nz-icon nzType="upload" nzTheme="outline"></i>
                            </p>
                            <p class="ant-upload-text">Drag and Drop your file here, or <span
                                    class="text-primary">Browse</span></p>
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>
                <!-- <nz-form-item>
                    <div class="text-center w-100">
                        <label class="mb-0">Co-Parent's Feedback</label>
                        <nz-form-control class="text-center">
                            <nz-rate formControlName="Feedback" [nzDisabled]="true"
                                [nzTooltips]="['Strongly Disagree', 'Disagree', 'Moderate', 'Agree', 'Strongly Agree']">
                            </nz-rate>
                        </nz-form-control>
                        <div class="font-size-10 text-gray-4">
                            You cannot add feedback to your own agreement
                        </div>
                    </div>
                </nz-form-item> -->
                <nz-form-item>
                    <button class="w-100" nz-button nzType="primary">Save</button>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>