<nz-card nzTitle="Lawyers Account">
    <div>
        <form nz-form [formGroup]="form" (ngSubmit)="createLawyerAccount()">
            <div nz-row>
                <div nz-col nzSpan="20">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="emailTpl">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="email" [nzSize]="'large'" formControlName="lawyerEmail" nz-input id="email"
                                    autocomplete="off" placeholder="Lawyer Email Address" />

                            </nz-input-group>

                            <ng-template #emailTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Email Address is required
                                </ng-container>

                                <ng-container *ngIf="control.hasError('pattern')">
                                    Please enter a valid email e.g abc@xyz.com
                                </ng-container>

                                <ng-container *ngIf="control.hasError('maxlength')">
                                    Maximum 50 characters are allowed!
                                </ng-container>

                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="3">
                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary" [nzLoading]="isLoading">Send Portal Access</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <nz-table #basicTable [nzData]="lawyersList | async" class="kit__utils__table mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email Address</th>
                    <th>Cases Counts</th>
                    <th>Assigned Cases</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.Email }}</td>
                    <td>{{ data.CaseCounts }}</td>
                    <td>
                        <ng-container *ngIf="data.Cases && data.Cases.length > 0; else noCasesTpl">
                            <ng-container *ngFor="let item of data.Cases">
                                <span class="mr-2 p-2 badge badge-light badge-pill">
                                    {{item.Name}}
                                </span>
                            </ng-container>
                        </ng-container>
                        <ng-template #noCasesTpl>
                            No Cases Assigned
                        </ng-template>
                    </td>
                    <td style="width: 150px;">
                        <button nz-button nzType="primary" (click)="showModal(data)">Assign Case</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>

<div>
    <nz-modal [nzFooter]="null" [(nzVisible)]="isVisible" nzTitle="Assign Case to Lawyer" (nzOnCancel)="handleCancel()"
        nzMaskClosable="false">
        <ng-container *nzModalContent>
            <h5>Lawyer: {{selectedLawyer.Email}}</h5>
            <div class="my-4">
                <nz-select  class="w-100" nzMode="multiple" nzPlaceHolder="Select/Search Cases to Assign"
                    [(ngModel)]="listOfSelectedCases">
                    <nz-option *ngFor="let item of caseList | async" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                </nz-select>
            </div>
            <div class="mb-3 mt-5 text-right">
                <button class="w-100" nz-button nzType="primary" [nzLoading]="assignLoading" (click)="assignCaseToLawyer()">Assign</button>
            </div>
        </ng-container>
    </nz-modal>
</div>