<div>
    <div class="card boxContainer">
      <div class="text-dark font-size-24 mb-4">
        <strong>Reset Password</strong>
      </div>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="ResetPassword()" role="form">
        <nz-form-item>
          <nz-form-control>
            <input type="password" nz-input nzSize="large" formControlName="password" placeholder="New Password" />
            <div class="text-danger">
              <ng-container *ngIf="isSubmitted && password.hasError('required')">Password is required</ng-container>
              <ng-container *ngIf="isSubmitted && !password.hasError('required') && password.hasError('minlength')">Minimum 4 characters are required</ng-container>
            </div>
          </nz-form-control>
          
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <input type="password" nz-input nzSize="large" formControlName="confirmPassword" placeholder="Confirm New Password" />
                <div class="text-danger">
                  <ng-container *ngIf="isSubmitted && confirmPassword.hasError('required')">Confirm Password is required</ng-container>
                  <ng-container *ngIf="isSubmitted && !confirmPassword.hasError('required') && confirmPassword.hasError('mustMatch')">Password & Confirm Password does not match</ng-container>
                </div>
              </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
              <strong> Reset my password</strong>
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <a routerLink="/auth/login" class="kit__utils__link font-size-16">
        <i class="fe fe-arrow-left mr-1 align-middle"></i>
        Go to Sign in
      </a>
    </div>
  </div>