<div class="row">
    <div class="col-xl-12">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="portalAccessForm" (ngSubmit)="handleSubmit()" role="form">
            <nz-form-item>
                <nz-form-control>
                    <input type="text" nz-input nzSize="large" formControlName="Email" placeholder="Enter Email.." />
                    <div class="text-danger">
                        <ng-container *ngIf="IsFormSubmitted && portalAccessForm.controls.Email.hasError('required')">
                            Email is required!</ng-container>
                        <ng-container *ngIf="IsFormSubmitted && portalAccessForm.controls.Email.hasError('email')">
                            Please enter a valid email address!</ng-container>

                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
                        <strong> Send</strong>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>